pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
faster-whisper
streamlit
streamlit-authenticator
pyyaml
openai
azure-cognitiveservices-speech
pytesseract
gTTS
httpx
pytube
